<footer class="footer">
  <div class="outer">
    <div class="footer-info" class="inner">
      &copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %><br>
    </div>
  </div>
  <div class="header-line"></div>
</footer>