<footer class="footer">
  <div class="outer">
    <div class="footer-info" class="inner">
      <div class="lt">
        &copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %>  All Rights Reserved.
        <br />
        Theme By <a class="lta" href="//github.com/nervouself/hexo-theme-shallow" target="_blank">shallow</a>
      </div>
      <a class="gt" href="#top"></a>
    </div>
  </div>
  <div class="header-line"></div>
</footer>