<header class="header">

  <div class="header-line"></div>

  <div class="outer">

    <a href="<%- url_for() %>">
      <h1 class="logo-title">
        <%= config.title %>
      </h1>
    </a>

    <nav class="main-nav">
      <% for (var i in theme.menu){ %>
        <a class="main-nav-link" href="<%- url_for(theme.menu[i]) %>"><%= i %></a>
      <% } %>
    </nav>

  </div>

</header>