.header
  height: (banner-height + block-margin / 10)
  background: color-footer-background
  width:100%
  overflow: hidden

.header-line
  height: (block-margin/10)
  background: repeating-linear-gradient(30deg,color-link,color-link 9px,color-orange 9px,color-orange 13px)

.logo-title
  float: left
  padding-left: banner-height
  font-size: 40px
  text-decoration: none
  color: #fff
  line-height: banner-height
  height: banner-height
  background: url(img/shallow-icon.png)

.main-nav
  float: right
  height: banner-height

.main-nav-link
  font-weight: bold
  letter-spacing: 1px
  line-height: banner-height
  float: left
  color: #fff
  opacity: 0.6
  text-decoration: none
  transition: opacity 0.2s
  display: block
  padding: 0 15px
  &:hover
    opacity: 1